@page
@model SeidoDbWebApiConsumerSPA.Pages.OrdersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Order List";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Order Detail for customer @Model.Customer</th></tr>
        </thead>
        <tbody>
            @if (@Model.Customer != null)
            {
                @foreach (var order in @Model.Customer.Orders)
                {
                    <tr>
                        <td>@order</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>